
@import "./assets/reset.css";

.app {
    background: linear-gradient(150deg, #333 0%, rgba(255,255,255,1) 100%);
    font-family: Arial, sans-serif;
    min-height: 100vh;
    color: #333;
    font-size: 16px;
    line-height: 24px;
    padding-top: 48px;
    padding-bottom: 40px;
}

.app-title-wrap {
    display: block;
    background-color: white;
    padding: 16px;
    margin: 0 auto;
    width: 600px;
}

.app-title {
    padding: 40px;
    border: 2px solid #333;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
}

.app-subtitle {
    margin: 24px 0 0 0;
    font-size: 20px;
    line-height: 20px;
    width: 100%;
    text-align: center;
}

.app-content {
    display: block;
    background-color: white;
    margin: 24px auto;
    max-width: 880px;
    width: 90%;
    min-width: 320px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;;
    align-items: center;
    padding: 16px;
}

.app-content section {
    position: relative;
    width: 33%;
    padding: 8px;
    text-align: center;
}

.app-content article {
    width: 100%;
}

h2 {
    display: inline-block;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 24px;
    margin: 16px 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.app-subtitle-toggle {
    border: 2px solid #333;
    padding: 12px 0;
    transition: all .4s ease;
    cursor: pointer;
    box-sizing: border-box;
    max-width: 260px;
    display: block;
    margin: 8px auto 24px auto;
}

.app-subtitle-toggle:hover {
    background-color: #333;
    color: white;
}

.app-profile p {
    text-align: left;
}

.app-picture {
    max-width: 100%;
    width: 64%;
    border-radius: 50%;
    margin: 0 4%;
}

.app-info li {
    margin-bottom: 16px;
    text-align: left;
    font-size: 14px;
}

.app-info li:last-child {
    margin-bottom: 0;
}

.app-info-ico {
    margin-right: 4px;
    font-size: 15px;
}

.app-info-whatsapp, .app-info-linkedin {
    font-size: 18px;
}

.app-habilities li {
    text-align: left;
}

.app-habilities li h3 {
    font-weight: bold;
}

.app-habilities li p {
    margin-bottom: 8px;
}

@media (max-width: 800px) {
    .app-title-wrap {
        width: auto;
    }
    .app-content {
        flex-wrap: wrap;
    }
    .app-content section {
        width: 100%;
    }
}
